.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

button {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

span {
  background-color: red;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 5px;
  padding: 2px 5px;
}

.card-container:hover {
  transform: scale(1.05);
}
